<div class="Product">
  <div class="create">
    <form action="/category/store" method="post">
      <label>Nome Category:</label>
      <input type="name" name="name" />
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
