<div class="category">
    <form action="/category/update/<%= category.id %>" method="post">
      <label>Category:</label>
      <input type="name" name="name" placeholder="<%= category.name %>" />
      <input type="submit">
    </form>
  </div>
</div>