<%- contentFor('body') %>
<div class="Product">
  <div class="create">
    <form action="/store" method="post">
      <label>Nome Produto:</label>
      <input type="name" name="name" required />
      <select name="category">
        <% for (category of categories){%>
        <option value="<%= category.name %>"><%= category.name %></option>
        <% } %>
      </select>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
